.set{
  width:200px;
  height: 200px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.main{
  display: flex;
  margin: 20px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
button{
  padding: 10px;
  margin-top: 20px;
  border: 2px solid skyblue;
  border-radius: 20px;
}
.navs{
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 20px;
  background: skyblue;
}
.jobss{
  text-align: center;
}